INPUT#send2friend {
	font-family: 			Myriad, "Myriad Web", Helvetica, Arial, sans-serif;
	font-size: 				21px;
	font-weight: 			bold;
	letter-spacing: 	-1px;
}


.genericsubmit {
	font-family: 			Myriad, "Myriad Web", Helvetica, Arial, sans-serif;
	font-size: 				21px;
	font-weight: 			bold;
	letter-spacing: 	-1px;
}


.genericsubmit21px {
	font-family: 			Myriad, "Myriad Web", Helvetica, Arial, sans-serif;
	font-size: 				21px;
	font-weight: 			bold;
	letter-spacing: 	-1px;
}

.genericsubmit18px {
	font-family: 			Myriad, "Myriad Web", Helvetica, Arial, sans-serif;
	font-size: 				18px;
	font-weight: 			bold;
	letter-spacing: 	-1px;
}

.genericsubmit16px {
	font-family: 			Myriad, "Myriad Web", Helvetica, Arial, sans-serif;
	font-size: 				16px;
	font-weight: 			bold;
	letter-spacing: 	-1px;
}

.genericsubmit14px {
	font-family: 			Myriad, "Myriad Web", Helvetica, Arial, sans-serif;
	font-size: 				14px;
	font-weight: 			bold;
	letter-spacing: 	-1px;
}


.genericsubmit12px {
	font-family: 			Myriad, "Myriad Web", Helvetica, Arial, sans-serif;
	font-size: 				12px;
	font-weight: 			bold;
	letter-spacing: 	-1px;
}

.genericsubmit10px {
	font-family: 			Myriad, "Myriad Web", Helvetica, Arial, sans-serif;
	font-size: 				10px;
	font-weight: 			bold;
	letter-spacing: 	-1px;
}